{% extends 'base.html' %}
{% block title %}Suggestion History - FactoryApp{% endblock %}
{% block content %}
<h2>Suggestion History</h2>
<div class="list-group">
  {% if suggestions %}
    {% for s in suggestions %}
    <div class="card-style mb-3">
      <p class="mb-1">{{ s.text }}</p>
      <small class="text-muted">{{ s.created_at|date:'d.m.Y H:i' }}</small>
    </div>
    {% endfor %}
  {% else %}
    <p>{{ request.user.username }} have not made any suggestions.</p>
  {% endif %}
</div>
{% endblock %}
