{% extends 'base.html' %}

{% block title %}Edit Profile - FactoryApp{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Edit Profile</h2>
    <form method="post" enctype="multipart/form-data" class="card-style w-50 mx-auto">
        {% csrf_token %}

        <div class="mb-3">
            {{ form.username.label_tag }}
            {{ form.username }}
            {% if form.username.errors %}
                <ul class="text-danger">
                    {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="mb-3">
            {{ form.profile_picture.label_tag }}
            {{ form.profile_picture }}
            {% if form.profile_picture.errors %}
                <ul class="text-danger">
                    {% for error in form.profile_picture.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary w-100 mt-3">Save</button>
    </form>
</div>
{% endblock %}
